.dart_tool/
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
generated/
*.jks
*.keystore
*.lock
pubspec.lock
android/*.iml
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
.DS_Store
*.log
*.tmp
.vscode/
.idea/
*.swp
*.swo
*~
